body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    z-index: 2;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    background-color: rgb(223, 234, 245);
}

#navbar a {
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a.split{
    float: right;
}

#navbar a:hover {
    background-color: rgb(151, 165, 160);
}

#navbar a.active {
    background-color: rgb(45, 62, 64);
    color: white;
}

.hero-image {
    z-index: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(hexpattern22-01.png);
    height: 50%;
    background-position: center;
    background-size: contain;
    position: relative;
}
